USE [master]
GO
/****** Object:  Database [Videoclub_LPPA]    Script Date: 7/5/2023 13:41:29 ******/
CREATE DATABASE [Videoclub_LPPA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Videoclub_LPPA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Videoclub_LPPA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Videoclub_LPPA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Videoclub_LPPA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Videoclub_LPPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Videoclub_LPPA]
GO
/****** Object:  Table [dbo].[pelicula]    Script Date: 7/5/2023 13:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelicula](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[descripcion] [nvarchar](max) NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK__pelicula__3213E83FDFED50E2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pelicula] ON 

INSERT [dbo].[pelicula] ([id], [nombre], [descripcion], [fecha]) VALUES (1, N'Contacto', N'La astrónoma Ellie Arroway y su equipo captan la emisión de una misteriosa señal de radio proveniente del espacio. Basada en la obra de Carl Sagan.', CAST(N'1998-06-25' AS Date))
INSERT [dbo].[pelicula] ([id], [nombre], [descripcion], [fecha]) VALUES (4, N'Rey Leon', N'Tras la muerte de su padre, Simba deberá enfrentarse a su tío para recuperar el trono de Rey de la Selva. Timón y Pumba le acompañarán en su misión.', CAST(N'1994-07-07' AS Date))
SET IDENTITY_INSERT [dbo].[pelicula] OFF
GO
USE [master]
GO
